<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_M6rdmlhtFXzSTi14msEEqwSLUHJInPU</string>
	<key>GCM_SENDER_ID</key>
	<string>664214738424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFireBase</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-9efcd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-9efcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664214738424:ios:a109c5a15a94ceb83ff20d</string>
	<key>DATABASE_URL</key>
	<string>https://flutterfire-9efcd-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>